.hero_section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('/images/landing-navidad/hero_banner.jpg');
    background-size: cover;

    .hero_image{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('/images/superpatch_logo-removebg.png');
        background-size: cover;
        height: 50vh;
    }

    & .hero_section_content{
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        .text_content{
            display: flex;
            flex-direction: column;
            align-items: start;
            text-align: left;
            gap: 1rem;
            width: 55%;

            .button_container{
                width: fit-content;
                display: flex;
            }
        }

        & h1{
            font-size: 2.5rem;
            font-weight: 700;
            
            & span{
                background-image: linear-gradient(75deg, red,#010bc4,#01c4b9 );
                background-clip: text;
                font-size: 2.7rem;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            }
        }

        & p{
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
    }
}

.video_container {
    position: relative;
    width: 90%;
    max-width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
    border-radius: 10px; 
  }

@media screen and (max-width: 768px){
    .hero_section{
        flex-direction: column;
        justify-content: end;
        align-items: center;
        background-image: url('/images/landing-navidad/hero_banner_vert.png');
        background-position: center;

        .hero_image{
            width: 100%;
            height: 30vh;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .hero_section_content{
            width: 100%;
            text-align: center;

            .text_content{
                width: 100%;
                gap: 1rem;
                padding: 1rem;

                .button_container{
                    width: 100%;
                    
                }
            }

            h1{
                font-size: 1.5rem;

                & span{
                    font-size: 1.5rem;
                }
            }

            p{
                font-size: 1rem;
            }
        }
    }
}

/* Estilos para tablets */
@media (min-width: 600px) and (max-width: 1024px) {
    .principal_video {
      height: 100vh;
      width: 100vw;
      /* Ajustes adicionales para tablet */
    }
  
    .video_container {
      width: 80%;
      max-width: 600px; /* Mayor tamaño para tablets */
    }
  
    .video {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  
    .close {
      font-size: 2.5rem; /* Tamaño ligeramente mayor para la close button */
    }
  }
  
  /* Estilos para escritorios */
  @media (min-width: 1024px) {
    .principal_video {
      height: 100vh;
      width: 100vw;
      display: grid;
      place-items: center;  /* Centra el contenido */
    }
  
    .video_container {
      width: 70%;
      max-width: 800px; /* Máximo tamaño para escritorios */
      max-height: 90vh;  /* Evita que el contenedor sea más alto que la pantalla */
    }
  
    .video {
      width: 100%;
      height:  90vh; /* La altura del video se ajusta al contenedor */
      object-fit: contain;  /* El video se ajusta para no desbordarse */
    }
  
    .close {
      font-size: 3rem;
      top: 10;
      right: 40px;
    }
  }
  