.hero_section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    background-image: url('/images/landing-navidad/banner-principal.png');
    background-size: cover;

    .hero_image{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('/images/superpatch_logo-removebg.png');
        background-size: cover;
        height: 50vh;
    }

    & .hero_section_content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        color: white;
            
        .text_content{
            display: flex;
            flex-direction: column;
            align-items: start;
            text-align: left;
            gap: 1rem;
            padding: 1rem 3rem;
            width: 50%;

            .button_container{
                width: fit-content;
                display: flex;
            }
        }

        & h1{
            color: #fff ;
            font-size: 2.5rem;
            font-weight: 700;
            
            & span{
                background-image: linear-gradient(75deg, red,#010bc4,#01c4b9 );
                background-clip: text;
                font-size: 2.7rem;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            }
        }

        & p{
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 1rem;
            text-shadow: 2px 2px 2px rgba(44, 44, 44, 0.5);
        }
    }
}

@media screen and (max-width: 768px){
    .hero_section{
        flex-direction: column;
        justify-content: end;
        align-items: center;
        background-image: url('/images/landing-navidad/banner-hero-mobile.png');

        .hero_image{
            width: 100%;
            height: 30vh;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .hero_section_content{
            width: 100%;
            text-align: center;

            .text_content{
                width: 100%;
                gap: 1rem;
                padding: 1rem;

                .button_container{
                    width: 100%;
                    
                }
            }

            h1{
                font-size: 1.5rem;

                & span{
                    font-size: 1.8rem;
                }
            }

            p{
                font-size: 1rem;
            }
        }
    }
}