.section_one{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_container{
    display: flex;
    gap: 3rem;
}

.card{
    width: 320px;
    height: 450px;
}

.card_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    text-align: center;
}


@media screen and (max-width: 768px){
    .section_one{
        padding: 3rem 0;
    }

    .cards_container{
        flex-direction: column;
    }
}