.section_one{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_container{
    display: flex;
    gap: 3rem;
}

.card{
    width: 320px;
    height: 500px;
    border-radius: .3rem;
    box-shadow: 1px 1px 2px rgba($color: #696969, $alpha: 1.0);
}

.card_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    text-align: center;
}

.card_text_container{
    padding: 1rem 0.5rem;
}

.card_btn_container{
    padding: 1rem;
}


@media screen and (max-width: 768px){
    .section_one{
        padding: 10rem 0;
    }

    .cards_container{
        flex-direction: column;
        gap: 7rem;
    }

    .card{
        height: auto;
    }

    .card_content{
        height: auto;
    }
}