.video_section{
    display: grid;
    place-items: center;
    background-color: #f9f9f9;
}


.video_section_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    width: 80vw;
}

.video_section_text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    & h1{
        color: #000;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: left;
    }

    & p{
        font-size: 1.2rem;
        text-align: left;
        color: #3d3d3d
    }
}

.video_section_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding-top: 3rem;
}

.video_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    & video{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}

.video_vert_container {
    position: relative;
    display: block;
    max-width: 350px; /* Máximo ancho en escritorio */
    width: 100%; /* El contenedor ocupa el 100% del ancho disponible */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
  }
  
  .video_vert_container::before {
    content: "";
    display: block;
    padding-top: 150%; /* Relación de aspecto 4:3 para video, ajustable */
  }
  
  .vert_video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%; /* El video ocupa el 100% del contenedor */
    height: 100%; /* El video ocupa el 100% del contenedor */
    border-radius: 10px;
    object-fit: cover; /* Esto asegura que el video llene el contenedor sin distorsión */
  }
  
  /* Media Query para tablet */
  @media (max-width: 768px) {
    .video_vert_container {
      max-width: 80%; /* Ajustamos el ancho para tablet */
      padding-top: 56.25%; /* Relación de aspecto 16:9 */
    }
  }
  
  /* Media Query para móvil */
  @media (max-width: 480px) {
    .video_vert_container {
      max-width: 100%; /* El video ocupa el 90% del ancho de la pantalla */
      padding-top: 56.25%; /* Relación de aspecto 16:9 */
    }
  }
  
  

.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1616;
}

.buttons_container{
    display: flex;
    gap: 1rem;
    width: 100%;
    margin: 1rem;
}


.video_button, .wp_button, .store_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background-color: #0051ff;
    color: #fff;
    font-weight: 700;
    gap: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(44, 44, 44, 0.5);
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
    border:  none;
    font-size: clamp(1px, 7.5vw, 2rem);
    cursor: pointer;    
    width: 100%;
    flex: 1;
}

.wp_button{
    background-color: #25d366;
}

.store_button{
    background-color: #f94e17;
}


@media screen and (max-width: 768px){
    
    .video_section_container{
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 100vw;
    }


    .video_section_content{
        width: 100%;
    }

    .video_vert_container{
        width: 100%;
    }

    .video_section_text{
        & h1{
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        & p{
            font-size: .9rem;
        }
    }

    .buttons_container{
        flex-direction: column;
        gap: 1rem;
    }

    .wp_button{
        display:block;
    }
}