.cookieBanner {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #00000073;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  z-index: 1000;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.cookieBanner_content{
  background-color: black;
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.message {
  flex: 1;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    font-size: small;
  }
}

.cookie_img_container{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1rem;
  width: 100%;
}

.cookie_img{
  font-size: 3rem;
  color: rgb(255, 174, 0);
}
.cookie_img_01{
  font-size: 2rem;
  color: #ff8880;
}
.cookie_img_02{
  font-size: 1rem;
  color: #fff;
}

.actions {
  display: flex;
  width: fit-content;
  gap: 1rem;
  margin: 1rem;
}

.buttonAccept,
.buttonDecline {
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2rem;
  border-radius: .2rem;
  border: none;
  &:hover {
    opacity: 0.8;
  }
}

.buttonAccept {
  background-color: #4CAF50;
  color: white;
}

.buttonDecline {
  background-color: #333;
  border: 1px solid #f44336;
  color: white;
}