@import '../Default.module.scss';
@import '../Utils.module.scss';


.video_modal{
    @extend %text-container-blur;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
}