.primary_button{
    background-color: #f36b20;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    width: 100%;

    &:hover{
        background-color: #fff;
        color: #000;
        border: .7px solid #000;
    }
}

@media screen and (max-width: 768px){
    .primary_button{
        font-size: 1.2rem;
    }
}